:root {
  --main-color: #d117c2;
  --secondary-color: #e8198b;
}

ul {
  list-style: none;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  color: var(--main-color); 
  display: flex;
  justify-content: space-around;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* 
.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.navbar-brand {
}
*/

body {
  background: #ddbbe7;
  margin: 10px 30px;
}


h1 {
  color: var(--main-color);
}

/*  
h3 {
  text-align: left;
}
*/

h2 {
  color: var(--main-color);
  margin-top: 15px;
}

h5 {
  color: var(--secondary-color);
}

.img-fluid {
  border-radius: 10px;
}

.hero {
  margin: 80px 30px;
}

.body-links {
  text-decoration: none;
  background: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  text-align: center;
}

.custom-button {
  text-decoration: none;
  background: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
  color: black;
  margin: 0 20px;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  text-align: center;
}

.body-links:hover {
  color: #291520;
  background: #c7eafd;
  border: var(--secondary-color);
}

p {
  color: #14080f;
  font-size: 20px;
  margin: 30px 10px;
}

h4 {
  color: var(--main-color);
  margin: 15px;
  padding-top: 10px;
}

h6 {
  color: var(--secondary-color);
  margin: 20px 0;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

footer {
  font-size: 12px;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(124, 128, 128);
  text-align: center;
  border: #cbbdcf solid;  
  border-radius: 10px;
  background: #f3bcda;
}
.fa-linkedin, .fa-square-twitter, .fa-square-instagram, .fa-github {
  font-size: 18px;
  color: var(--main-color);
  padding: 0 40px;
  cursor: pointer;
  
}

.fa-github:hover{
  box-shadow: 0 0 7px #ff0095 inset,
  0 0 7px #ff0095;
  padding: 5px 5px;
}

.fa-linkedin:hover{
  box-shadow: 0 0 7px #ff0095 inset,
  0 0 7px #ff0095;
  padding: 5px 5px;
}
.fa-square-instagram:hover{
  box-shadow: 0 0 7px #ff0095 inset,
  0 0 7px #ff0095;
  padding: 5px 5px;
}

.fa-square-twitter:hover{
  box-shadow: 0 0 7px #ff0095 inset,
  0 0 7px #ff0095;
  padding: 5px 5px;
}
.social-links {
  border: 1px solid rgb(187, 209, 209);;
 padding: 10px 10px;
 margin: 10px 10px;
}

@media only screen and (max-width: 767px) {
  .links-container {
    
  }
  .body-links {
    max-width: 40%;
    margin: 10px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
}


