:root {
  --main-color: #7577cd;
  --secondary-color: #080957;
  --default-font-family: "Chakra Petch", sans-serif;
}

nav .logo {
  height: auto;
max-width: 100%;

}

ul {
  list-style: none;
  font-family: var(--default-font-family);
  font-weight: 500;
  padding: 10px 15px; 
}

ul a {
  text-decoration: none;
  color: var(--secondary-color); 
  padding: 10px 15px;
}
ul a:hover {
  box-shadow: 0 0 7px var(--main-color) inset,
  0 0 7px var(--main-color);
  padding: 10px 15px;
}

li .active a {
  box-shadow: 0 0 7px var(--main-color) inset,
  0 0 7px var(--main-color);
  padding: 0;
}


.profile-image {
width: 150px;
height: 150px;
border-radius: 50%;
border: 5px solid;
border-image: linear-gradient(to right, #8a2be2, #ff1493);
}



.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background: #dbdbeb;
  margin: 5px 5px;
}


h1 {
  color: var(--main-color);
}

h2 {
  color: var(--main-color);
  margin-top: 15px;
}

h5 {
  color: var(--secondary-color);
}

.img-fluid {
  border-radius: 10px;
}

.hero {
  margin: 80px 30px;
}

/* 
.body-links {
  text-decoration: none;
  background: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
  color: black;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
  text-align: center;
}
.body-links:hover {
  color: #291520;
  background: #c7eafd;
  border: var(--secondary-color);
}
.body-links {
  max-width: 40%;
  margin: 10px ;
}
*/

.custom-button {
  text-decoration: none;
  background: #080957;
  color: var(--secondary-color);
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 5px;
}

.custom-button a {
  text-decoration: none;
  color: #dbdbeb;
}


.custom-button:hover {
  background: #7577cd;
  border: var(--secondary-color);
 
}

p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 14px;
  margin: 30px 10px;
}

h4 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  color: var(--main-color);
  margin: 15px;
  padding-top: 10px;
}

h6 {
  color: var(--secondary-color);
  margin: 20px 0;
}
/* 
.links-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
 */

footer {
  font-size: 12px;
  font-family: "Chakra Petch", sans-serif;
  color: var(--secondary-color);
  text-align: center;
  border: #dddddd solid;  
  border-radius: 10px;
  background: hsl(236, 40%, 87%);
  margin: 25px 5px;
}
.fa-linkedin, 
.fa-square-twitter, 
.fa-square-instagram, 
 .fa-github {
  font-size: 18px;
  color: var(--main-color);
  padding: 0 25px;
  cursor: pointer;
}

.fa-linkedin:hover, 
.fa-github:hover, 
.fa-square-twitter:hover, 
.fa-square-instagram:hover {
  transform: scale(1.5);
}

.social-links {
  font-size: 24px;
border: 1px solid rgb(187, 209, 209);
 
}

.social-links span {
  margin-right: 10px;
}

.social-links a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  .social-links {
    width: 30px;
  }
.profile-image {
  width: 100px;
  height: 100px;
}
  
}

@media only screen and (min-width: 768px) {
  .links-container {
    display: flex;
  }
 
}
